* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body > * {
    display: flex
}
#d911 {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
    margin: 12px;
}
#d911 > div {
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 8px 0 8px 0
}
#readers {
    flex: 1;
}
#books {
    flex: 2;
}
#readersList, #booksList {
    overflow-y: scroll;
}

ul {
    font-size: 18px;
    flex: 1;
    list-style-type: none;
    overflow-y: scroll;
}

#readerDialog::backdrop {
    opacity: 0.5;
    background-color: black;
}

ul > li {
    padding: 2px 16px 2px 16px
}

ul > * + * {
    border-style: solid;
    border-color: #431407;
    border-right: none;
    border-left: none;
    border-top-width: 1px;
    border-bottom-width: 0px;
}

ul > :nth-child(even) {
    background-color: #fdba74;
}

ul > :nth-child(odd) {
    background-color: #fff7ed;
}
