* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 16px;
    background-color: #282c35; 
    color: #ffffff; 
}

#d911 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 48px;
}

#d911 > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #333; 
    border: 1px solid #555; 
    border-radius: 8px;
    overflow: hidden;
}

ul {
    font-size: 18px;
    list-style-type: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

ul > li {
    padding: 2px 16px;
}

ul > * + * {
    border-style: solid;
    border-color: #123456; 
    border-right: none;
    border-left: none;
    border-top-width: 1px;
    border-bottom-width: 0px;
}

ul > :nth-child(even) {
    background-color: #456789; 
}

ul > :nth-child(odd) {
    background-color: #56789a; 
}

#readers {
    flex: 1;
}

#books {
    flex: 2;
}

#bar {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e; 
}

#bar > button {
    border-radius: 50px;
    border: none;
    background-color: #555; 
    color: #ffffff;
    width: 32px;
    height: 32px;
    outline: none;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 32;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

header > h1 {
    margin-right: auto;
    color: #ffffff; 
}

header > button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #007bff; 
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.clicked {
    transform: scale(0.7);
}

header > button:hover {
    background-color: #0056b3; 
    color: #fff;
    transform: scale(1.1);
}

dialog {
    margin: auto;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
    max-width: 400px;
}

dialog > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

dialog::backdrop {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
}

dialog > form h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

dialog > form input {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

dialog > form input:hover,
dialog > form input:focus {
    border-color: #007bff;
    transform: scale(1.05);
}

dialog > form button {
    padding: 14px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

dialog > form button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #121416; 
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

input[type='checkbox'] {
    margin-right: 8px;
}

ul label {
    display: flex;
}

label > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label > p:nth-of-type(1) {
    width: 50%;
}

label > p:nth-of-type(3) {
    margin-left: auto;
}
